alabaster==0.7.12
appdirs==1.4.4
argcomplete
argh==0.26.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.1
astroid==2.9.3
async-generator==1.10
atomicwrites==1.4.0
attrs
autopep8
Babel
backcall
bcrypt
binaryornot
black==19.10b0
bleach
brotlipy==0.7.0
certifi==2021.10.8
cffi
chardet
charset-normalizer==2.0.10
click==8.0.3
cloudpickle
colorama
cookiecutter
cryptography
cycler==0.11.0
debugpy
decorator==5.1.1
defusedxml
diff-match-patch
docutils
entrypoints==0.3
flake8
Flask==2.0.2
fonttools==4.28.5
future==0.18.2
idna
imagesize
importlib-metadata
importlib-resources==5.4.0
inflection==0.5.1
intervaltree
ipykernel==6.7.0
ipython==7.31.1
ipython-genutils
ipywidgets==7.6.5
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
jinja2-time
joblib==1.1.0
jsonify==0.5
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core
jupyterlab-pygments
jupyterlab-widgets==1.0.2
keyring
kiwisolver==1.3.2
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune
mypy-extensions==0.4.3
nbclient==0.5.10
nbconvert==6.4.0
nbformat
nest-asyncio==1.5.4
notebook==6.4.7
numpy==1.21.5
numpydoc
packaging
pandas==1.3.5
pandocfilters==1.5.0
paramiko
parso==0.5.2
pathspec==0.9.0
pexpect
pickleshare
Pillow==9.0.0
platformdirs==2.4.1
pluggy
poyo
prometheus-client==0.12.0
prompt-toolkit==3.0.24
psutil
ptyprocess
pycodestyle==2.8.0
pycparser
pydocstyle
pyflakes==2.4.0
Pygments==2.11.2
pylint
pyls-black
PyNaCl
pyOpenSSL
pyparsing==3.0.7
PyQt5-sip==12.9.0
pyrsistent==0.18.1
PySocks
python-dateutil
python-jsonrpc-server
python-language-server==0.31.9
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.3.3
python-slugify
pytz==2021.3
PyYAML==6.0
pyzmq
QDarkStyle==2.8.1
qstylizer
QtAwesome
qtconsole==5.2.2
QtPy==2.0.0
regex
requests
rope==0.22.0
Rtree
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.8.0
six
sklearn==0.0
snowballstemmer
sortedcontainers
Sphinx==4.3.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport
spyder==4.0.1
spyder-kernels==1.8.1
terminado==0.12.1
testpath
text-unidecode
textdistance
threadpoolctl==3.0.0
three-merge
tinycss
tinycss2==1.1.1
toml
tomli==1.2.3
tornado
traitlets
typed-ast==1.5.2
typing_extensions==4.0.1
Unidecode
urllib3==1.26.8
watchdog
wcwidth
webencodings==0.5.1
Werkzeug==2.0.2
whichcraft
widgetsnbextension==3.5.2
win-inet-pton
wincertstore==0.2
wrapt==1.13.3
yapf==0.32.0
zipp
gunicorn
