<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Car Price Calculator</title>
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="container">
            <div class="title">Car Price Calculator</div>
            <form action="{{url_for('predict')}}" method="post">
                <div class="car-details">
                    <div class="input-box">
                        <span class="details">Year of Purchase</span>
                        <input id="first" name="Year" type="text" placeholder="Input" required>  
                    </div>

                    <div class="input-box">
                        <span class="details">Original Price(In Lakhs)</span>
                        <input id="second" name="Present_Price" type="text" placeholder="Input" required>  
                    </div>

                    <div class="input-box">
                        <span class="details">Kilometers Driven</span>
                        <input id="third" name="Kms_Driven" type="text" placeholder="Input" required>  
                    </div>

                    <div class="input-box">
                        <span class="details">No. Of Previous Owners</span>
                        <input id="fourth" name="Owner" type="text" placeholder="Input" required>  
                    </div>

                    <div class="input-box">
                        <span class="details">Fuel Type</span>
                        <select id="fifth" name="Fuel_Type_Petrol" required autofocus>
                            <option disabled selected value> -- Select an Option -- </option>
                            <option value="Petrol">Petrol</option>
                            <option value="Diesel">Diesel</option>
                            <option value="CNG">CNG</option>
                        </select>
                    </div>

                    <div class="input-box">
                        <span class="details">Seller Type</span>
                        <select id="sixth" name="Seller_Type_Individual" required autofocus>
                            <option disabled selected value> -- Select an Option -- </option>
                            <option value="Dealer">Dealer</option>
                            <option value="Individual">Individual</option>
                        </select>
                    </div>

                    <div class="input-box">
                        <span class="details">Transmission Type</span>
                        <select id="seventh" name="Transmission_Manual" required autofocus>
                            <option disabled selected value> -- Select an Option -- </option>
                            <option value="Automatic">Automatic</option>
                            <option value="Manual">Manual</option>
                        </select>
                    </div>
                </div>

                <div class="button">
                    <input id="sub" type="submit" value="Calculate Selling Price">
                </div>

            </form>
            </div>
        </div>
    </body>
</html>